@import "../../styles.scss";

.movie-card {
  height: 100%;
  padding: 0 !important;
  margin:0 !important;
  text-align: center;
}

.card-body{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  
}

.card-title{
  color: $secondary-color !important;
}

.card-img-top{
  height:300px;
}

.card-links{
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 750px) {
  .card-img-top{
    height:400px;
    }
}
