@import "../../styles.scss";

.movie-card {
  height: 100%;
  text-align: center;

}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  color: $secondary-color !important;
}

.card-img-top {
  height: 300px;
}

.card-links {
  display: flex;
  width:100%;
  justify-content: space-between;
}

.card-links button {
  height: 100%;
}

@media all and (max-width: 750px) {
  .card-img-top {
    height: 400px;
  }
}
