@import "../../styles.scss";

.card-wrapper {
  padding: 5px !important;
 
}

.main-view {
  min-height: 100%;
  background-color: rgb(37, 37, 37);
}

.logout-button {
  position: absolute;
  right: 5px;
}

nav {
  padding: 5px !important;
}

@media all and (max-width: 750px) {
  .signed-in-name {
    display: none;
  }
}
