@import "../../styles.scss";

.registration-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.registration-view-buttons {
  display: flex;
  justify-content: space-between;
  margin: 5% 0 0 0 ;
}

.registration-view input {
  color: $text-color;
}

.registration-view h2 {
  margin: -20% 0 10% 0;
  text-decoration-line: underline;
}


.registration-view input::placeholder {
  color: darken($text-color, 30%)
}
