@import "../../styles.scss";

.profile-view {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // text-align: center;
  justify-content: center;
  height: 100%;
}

.profile-view h2 {
  margin: 2% 0 5% 0;
  text-decoration-line: underline;
}

.profile-view h3 {
  margin: 10% 0 2% 0;
}

.profile-view input {
  border: 1px solid $border-color;
  color: $text-color;
  background-color: transparent !important;
  outline: none !important;
}

.profile-view input:focus {
  box-shadow: none !important;
  color: $text-color;
  border: 1px solid lighten($border-color,15%);
  resize: none;
  outline: none;
}
.favs-row {
  display: flex;
  max-width: 740px;
  width: 60%;
  text-align: center;
}

.fav-item {
  background-color: transparent !important;
  border: 1px solid $border-color !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.profile-buttons {
  margin: 4% 0 0 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.profile-view .back-to-main {
  margin: 2% 0 2% 0;
}

.delete-user {
  margin:10% 0 5% 0;
  width:20%;
  min-width:320px;
  // position:absolute;
  // top:1%;
  // left:1%;
}

@media all and (max-width: 992px  ) {
  .favs-row {
    width: 100%;
  }
}
