@import "../../styles.scss";

.profile-view {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // text-align: center;
  justify-content: center;
  height: 100%;
}

.profile-view h2 {
  margin: 2% 0 5% 0;
  text-decoration-line: underline;
}

.profile-view h3 {
  margin: 10% 0 2% 0;
}

.profile-view input {
  color: $text-color;
}

.favs-row {
  display: flex;
  max-width: 740px;
  width: 60%;
  text-align: center;
}

.fav-item {
  background-color: transparent !important;
  border: 1px solid $text-color !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.profile-buttons {
  margin: 4% 0 0 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.profile-view .back-to-main {
  margin: 2% 0 2% 0;
}

@media all and (max-width: 750px) {
  .favs-row {
    width: 100%;
  }
}
