@import "../../styles.scss";

.profile-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.profile-view-buttons {
  display: flex;
  justify-content: space-between;
}

.profile-view input {
  color: $text-color;
}

.favs-row {
  margin: 10% 0 0 0;
  display: flex;
  // flex-direction: column;
  width: 100%;
  text-align: center;
}

.fav-item {
  background-color: transparent !important;
  border: 1px solid $text-color !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5%;
}
