.movie-view-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}