.movie-view-wrapper {
  display: flex;
  margin: auto;
  text-align: center;
  max-width: 740px;
}

@media all and (max-width: 750px) {
  .movie-view-wrapper {
    max-width: 100%;
  }
}

.movie-view-wrapper img {
  padding: 1%;
  margin: 5% auto;
  max-width: 50%;
}

.movie-view-back {
  position: absolute;
  top: 2%;
  left: 2%;
}

.movie-view-exit {
  position: absolute;
  top: 2%;
  right: 2%;
}
