@import "../../styles.scss";

.movies-search-bar {
  margin: 2% 0 4% 0;
}

.movies-search-bar input {
  background-color: transparent !important;
}
.movie-list-col {
  margin: 1% !important;
  padding: 0 !important;
}
