@import "./styles.scss";

body {
  user-select: none;
}

html,
body {
  height: 100%;
}

.app-container {
  background-color: $background-color;
  color: $text-color;
  font-family: $font-family;
  height: 100%;
}

.h5,
.h4,
.h3,
.h2,
.h1,
.app-container h1,
.app-container h2,
.app-container h3,
.app-container h4,
.app-container h5 {
  color: $heading-color;
}

.container-fluid {
  height: 100%;
}

form {
  max-width: 740px;
  width: 60%;
}

@media all and (max-width: 768px) {
  form {
    width: 100%;
  }
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"] {
  background-color: transparent;
  color: $text-color;
}
