$font-family: "Yaldevi", sans-serif;
$background-color: rgb(24, 24, 24);
$text-color: lighten($background-color, 80%);
$heading-color:lighten($background-color, 85%);
$border-color:lighten($background-color, 50%);
$secondary-color: #f0b400;
