@import "../../styles.scss";

.director-view-wrapper {
  display: flex;
  margin: auto;
  text-align: center;
}

.director-movie-item {
  margin: 1% 0 0 0 ;
}
.directors-back {
  margin: 2% 0 0 0 ;
}
